body{
			font-family:Arial,Helvetica,Calibri,'sans-serif';
			background:#333;
}

.clr1{background:#5c2f39b3;}.clr2{background:#612f5fb3;}.clr3{background:#462f61b3;}.clr4{background:#2f3661b3;}.clr5{background:#2f4e61b3;}.clr6{background:#2f615db3;}.clr7{background:#2f6141b3;}.clr8{background:#3a612fb3;}.clr9{background:#53612fb3;}.clr10{background:#615e2fb3;}.clr11{background:#61492fb3;}.clr12{background:#61322fb3;}.clr13{background:#143afab3;}.clr14{background:#5e08ffb3;}.clr15{background:#d4062fb3;}.clr16{background:#e6098ab3;}.clr17{background:#e102f5b3;}.clr18{background:#9c05fab3;}.clr19{background:#1192f5b3;}.clr20{background:#cf0e04b3;}.clr21{background:#c26d69b3;}.clr22{background:#c44c06b3;}.clr23{background:#27de07b3;}.clr24{background:#04bf3cb3;}.clr25{background:#c28765b3;}.clr26{background:#db9c09b3;}.clr27{background:#c9af71b3;}.clr28{background:#d4db04b3;}.clr29{background:#ced173b3;}.clr30{background:#86eb02b3;}.clr31{background:#ade366b3;}.clr32{background:#88d17bb3;}.clr33{background:#67b57fb3;}.clr34{background:#00de98b3;}.clr35{background:#78ebc6b3;}.clr36{background:#02e8e8b3;}.clr37{background:#77ededb3;}.clr38{background:#89c6f5b3;}.clr39{background:#9aaafcb3;}.clr40{background:#b290fcb3;}.clr42{background:#cd84fab3;}.clr41{background:#e980f2b3;}.clr43{background:#e37db8b3;}.clr44{background:#cc768ab3;}

.clr1{color:#5c2f39b3;}.clr2{color:#612f5fb3;}.clr3{color:#462f61b3;}.clr4{color:#2f3661b3;}.clr5{color:#2f4e61b3;}.clr6{color:#2f615db3;}.clr7{color:#2f6141b3;}.clr8{color:#3a612fb3;}.clr9{color:#53612fb3;}.clr10{color:#615e2fb3;}.clr11{color:#61492fb3;}.clr12{color:#61322fb3;}.clr13{color:#143afab3;}.clr14{color:#5e08ffb3;}.clr15{color:#d4062fb3;}.clr16{color:#e6098ab3;}.clr17{color:#e102f5b3;}.clr18{color:#9c05fab3;}.clr19{color:#1192f5b3;}.clr20{color:#cf0e04b3;}.clr21{color:#c26d69b3;}.clr22{color:#c44c06b3;}.clr23{color:#27de07b3;}.clr24{color:#04bf3cb3;}.clr25{color:#c28765b3;}.clr26{color:#db9c09b3;}.clr27{color:#c9af71b3;}.clr28{color:#d4db04b3;}.clr29{color:#ced173b3;}.clr30{color:#86eb02b3;}.clr31{color:#ade366b3;}.clr32{color:#88d17bb3;}.clr33{color:#67b57fb3;}.clr34{color:#00de98b3;}.clr35{color:#78ebc6b3;}.clr36{color:#02e8e8b3;}.clr37{color:#77ededb3;}.clr38{color:#89c6f5b3;}.clr39{color:#9aaafcb3;}.clr40{color:#b290fcb3;}.clr42{color:#cd84fab3;}.clr41{color:#e980f2b3;}.clr43{color:#e37db8b3;}.clr44{color:#cc768ab3;}


h3{
	background:#0081B3;
	color:white;padding: 5px 10px 5px;font-weight:400;
}
#cover{
	position:fixed;
	z-index:5;
	left:0;top:0;
	width:100%;
	height:100%;
	background:rgba(33,33,33,0.5);
	display:none;
}


#pmsg{position:absolute;height:40px;bottom:0;width:100%;background-color:#067BFF;}
#txmg{position:absolute;left:0;right:124px;height:100%;background:#9CE0FF;border: #067BFF solid 1px;}
#txmg input{outline:transparent;width:99%;height:38px;border:none;background:transparent;font-size:1em;padding-left:1%;}
#snmg{position:absolute;width:124px;right:0;height:100%;background:#067BFF;}
#snmg input{
	border:none;width:60px;outline:transparent;
	font-size:1.2em;
	cursor:pointer;background:url('submit.svg');height:60px;
background-repeat: no-repeat;background-position:15px 6px;margin-left:1px;
}
#shmd{text-align:center;}
.shmd {padding: 20px;cursor:pointer;margin-left:2px;display: inline-block;background:url('shmd.png');background-repeat: no-repeat;background-position:5px 6px;background-size: 159px 40px;}
#mp4s{background-position:-79px 3px;
}
#mp3s{background-position:-40px 3px;
}
#ytb{background-position:-120px 3px;;
}
#jpgs{background-position:0px 3px;
}
.upload{display:none;}
#upmd{text-align:center;}
.upmd {padding: 20px;cursor:pointer;margin-left:2px;display: inline-block;background:url('upmd.png');background-repeat: no-repeat;background-position:5px 6px;background-size: 120px 40px;}
#imgu{background-position:0px 1px;}
#audu{background-position:-40px 1px;}
#camu{background-position:-80px 1px;}

#message{outline:transparent;border:none;font-size:1.4em;overflow: hidden;background:transparent;width:98%;padding:1%;height:100%;
}

#msgtx{position:fixed;z-index: 5;left:22%;
bottom: 0;right:125px;background: #9CE0FF;border-left: #067BFF solid 1px;
}

#loginForm input[type="text"]{
	background: #B5EDF9;
	border:#4ECDFF solid 1px;
	color:#000;
	border-radius:3px;
	padding:8px;font-size:1em;
}
#loginForm input[type="submit"]{
	background: #067BFF;
	border:#488FFB solid 2px;
	color:#fff;
	border-radius:3px;
	padding:8px;font-size:1em;
}
#chathdr{
position:absolute;top:0;
width:100%;height:32px;z-index:3;
border-left:#a1cffc solid 1px;
}
.crbx{color: #fff;text-decoration:none;}
#uso,#cbx{float:right;text-decoration:none;color: #f1f9f8;display:none;}
#users{
position:fixed;top:0;
left:0;width:22%;
bottom:0;background: #413f3f;
}
#userlist{
overflow-y: auto;list-style:none;color: #f1f9f8;padding:0px 10px 0px;	
}
#uonl{position:absolute;bottom:0;width:100%;top:32px;
overflow-y: auto;
}
#chatcon{position:fixed;left:22%;height:100%;right:0;top:0;z-index:3;}

#textchat{position:absolute;width:100%;bottom:40px;top:0;}
.chattext{position:absolute;top:32px;bottom:0;
overflow-y:auto;padding:10px 15px 10px;right:0;left:0;
}
.pmt,#chatcon{background: url(bg2.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;}
.chattext .mbox{-webkit-box-shadow: 4px 4px 18px 0px rgba(102,102,102,1);
-moz-box-shadow: 4px 4px 18px 0px rgba(102,102,102,1);
box-shadow: 4px 4px 18px 0px rgba(102,102,102,1);
padding:0px 5px 5px;clear: both;float: left;
border-radius:0px 5px 5px;margin-bottom:6px;font-weight:300;
}
.mbox .txt{color:#fff;}
.tcl{
position: relative;
}  
.unm span{font-size:0.8em;font-weight:300;margin-left:10px;margin-top:1px;float:right;}
.chattext .unm{text-shadow:0 0 8px rgb(8,8,8);
color:#33ffff;font-weight:600;cursor:pointer;
font-size: 1em;border-radius:5px;display:inline-block;word-wrap:break-word; 
}
#userlist>li{
	background:#3da4c6;color:#fff;
	margin-bottom:5px;border:#222 solid 1px;
	padding:5px 10px 5px;border-radius:5px;
	-webkit-box-shadow: 4px 4px 18px 0px rgba(102,102,102,1);
-moz-box-shadow: 4px 4px 18px 0px rgba(102,102,102,1);
box-shadow: 4px 4px 18px 0px rgba(102,102,102,1);position: relative;
}

#userlist>li>a{
color: #fff;font-weight:400;
font-size:1.2em;text-decoration:none;
	}
video{
	float:left;
}
.callRequest, #video-chat{
	z-index:6;
	position:fixed;
	top:0;bottom:0;
	left:0;right:0;
	display:none;
	background:#173553;
}

.answer{font-weight:400;font-size:1em;
	padding:8px;margin:3px;border-radius:5px;color:white;
}
#green{ background:#338C05;}
#red,.red{background:#D80000;}

button{
	background: #067BFF;
	border:none;
	color:#fff;
	border-radius:3px;
	padding:6px;
}

#loginMsg{color:#F94E4E;}
#chatWrap{
display:none;
}

.join{font-size:.6em;font-weight:300;font-style:italic;color:#42ff08;;float:left;clear: both;box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.5);background:#ffffff60;border-radius:5px;padding:0 5px 0 5px;
}
.left{font-size:.6em;font-weight:300;font-style:italic;color:#fc0000;float:left;clear: both;box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.5);background:#ffffff60;border-radius:5px;padding:0 5px 0 5px;
}
#cancel{position:fixed;color:#eee;top:40px;height:40px;text-align:center;
	width:64px;z-index:4;left:50%;margin-left:-32px;display:none;}

#stcan{position:fixed;color:#eee;bottom:0;height:50px;text-align:center;
	left:0;right:0;}
.caller{color:#f96433;font-weight:800;}
.crq{padding:10px;text-align:center;font-size:1.4em;
position:fixed;color:#eee;
	top:30%;bottom:30%;
	left:10%;right:10%;}
#fl{color:white;font-size:1.2em;font-weight:500;}

#loginWrap h3, #chatWrap h3{
	margin-top:0;
}

#me{background:#969696 !important;}

.wraps{
position:fixed;text-align:center;padding:20px;margin:auto;
width: 250px;left:50%;margin-left:-145px;height:160px;
background:#333;top:50%;margin-top:-100px;
}
#ttl{font-weight:600;font-size:1.5em;margin-bottom:15px;color:#44CBF8;}
#dalrt{position:fixed;padding:30px;text-align:center;margin:auto;
color:#fff;width: 200px;font-weight:500;font-size:1.2em;
border-radius:5px;border:#333 solid 1px;display:none;
background:#e31c1c;top:45%;left:50%;margin-left:-132px;z-index:6;
-webkit-box-shadow: 4px 4px 18px 0px rgba(102,102,102,1);
-moz-box-shadow: 4px 4px 18px 0px rgba(102,102,102,1);
box-shadow: 4px 4px 18px 0px rgba(102,102,102,1);
	}
#localScreen{position:fixed;width:48%;right:1%;top:5px;}
#remoteScreen{position:fixed;width:48%;top:5px;left:1%;}
#callStatus{position:absolute;width:100%;bottom:70px;left:0;text-align:center;color:#fff;}
#emot{cursor:pointer;padding: 20px 30px 20px 30px;background:url('smile.png');
background-repeat: no-repeat;background-position:5px 6px;margin-left:1px;
display: inline-block;float: right;}
#viewemot{position:fixed;padding:5px;bottom:40px;right:0;width:400px;height:550px;background:#ccc;z-index:4;display:none;overflow-y:auto;}
#viewemot button{position:absolute;right:0;top:0;cursor:pointer;background:red;border:1px solid #ccc;color:#fff;font-weight:bold;}
#viewemot img{cursor:pointer;padding:2px;}
#viewemot img:hover{background:#3399ff;}
.wcam{cursor:pointer;padding: 0px 24px 0px 20px;position: absolute;height: 100%;top: 0;}
.telp{background:url('telp.png');background-repeat: no-repeat;background-position:8px 5px;background-size: 28px 24px;right: 80px;}
.vcam{background:url('wcam.png');background-repeat: no-repeat;background-position:8px 5px;background-size: 28px 24px;right: 40px;}
.pcm {cursor:pointer;padding: 0px 24px 0px 20px;position:absolute;height:100%;top: 0;background:url('env3.png');background-repeat: no-repeat;background-position:8px 5px;background-size: 28px 24px;right: 0;}
#pvmsg h3{margin-top:1px;text-align:center;}
#pvmsg{border:#333 solid 1px;position:fixed;width:80%;left:10%;top:10%;height:80%;border-radius:5px;z-index:3;display:none;background: #3c6175;
-webkit-box-shadow: 4px 4px 18px 0px rgba(102,102,102,1);
-moz-box-shadow: 4px 4px 18px 0px rgba(102,102,102,1);
box-shadow: 4px 4px 18px 0px rgba(102,102,102,1);
}
#ulmsg{padding: 0 2% 2% 2%;position:absolute;overflow-y:auto;top:10%;height:88%;width:96%;}
.lmsg{	background:#3da4c6;color:#fff;cursor:pointer;
	margin-bottom:5px;border:#222 solid 1px;
	padding:5px 10px 5px;border-radius:5px;}
#vpc{position:absolute;left:50%;top:-1px;background:red;padding:16px 8px 16px 8px;z-index:3;margin-left:-48px;display:none;font-size:1.2em;color:#fff;line-height:1px;font-weight:400;text-decoration:none;border-radius:5px;width:80px;
}
#ssmed{text-align:center;display:none;position:fixed;width:320px;left:50%;top:50%;margin-top:-90px;margin-left:-160px;height:180px;z-index:3;background: #3c6175;
-webkit-box-shadow: 4px 4px 18px 0px rgba(102,102,102,1);
-moz-box-shadow: 4px 4px 18px 0px rgba(102,102,102,1);
box-shadow: 4px 4px 18px 0px rgba(102,102,102,1);}
#meds{width:98%;height:60px;border-radius:3px;padding:1%;}
#ssmed h3{margin-top:0;margin-bottom:0px;}
#ssmed button{
margin-top:15px;
border: #4ECDFF solid 1px;
color: #fff;
border-radius: 3px;
padding: 5px;
font-size: 1em;
	}
#snmed{background:#08AEA8;}
#cnmed{background:#787878;margin-left:30px;}
#smed{padding:15px;}
.caret {
        width: 0;
        height: 0;
        display: inline-block;float:left;
        border: 8px solid transparent;margin-left:-13px;margin-top:-8px;
		transform: rotate(136deg);
    }
.cleft{
        border-right-color: inherit;
    }

.iam{border-radius: 5px 0px 5px 5px !important;}
.iam .rcaret {
        width: 0;
        height: 0;
        display: inline-block;float: right;
        border: 8px solid transparent;margin-right:-13px;margin-top:-8px;
		transform: rotate(226deg);
    }
.iam .cright{
        border-left-color: inherit;
    }
.imgatt{width:100%;height:normal;margin-top: 15px;cursor:pointer;}

#loading{position:fixed;bottom:12px;left:48%;z-index:3;display:none;}
#rcol{position:fixed;left:78%;right:0;top:0;bottom:0;z-index:3;display:none;}
#rcol h3,ol{margin-top: 0;}ol li{margin-left:-30px;font-style: italic;}
#rcol h3{border-left:#a1cffc 1px solid;}
#tos{padding:0 10px 10px 10px;font-size:0.8em;color:#eee;}
#tos p{font-size:1.1em;font-weight:400;color:#5cd3fb;margin-top:1opx;text-align:center;}
#footer{position:absolute;left:0;right:0;height:30px;bottom:0;text-align:center;color:#ff4949;}

@media screen and (max-width: 678px) {
#localScreen{position:fixed;width:30%;right:5px;border-radius:5px;}
#remoteScreen{position:fixed;left:0;width:100%;height:100%;top:0;}
#chathdr{
border:none !important;
}
#chatcon{position:fixed;width:100%;height:100%;left:0;}
#txmg{left:40px;right:80px;}
#snmg{width:80px;right: 0;}
#snmg input{width:38px;padding: 8px 6px 8px;
	font-size:1.2em;background-position:0px 8px;margin-left:1px;
}
#users{position:fixed;top:0;
width:100%;height:100%;left:0;
}
#viewemot{height:150px;width:100%;}
#uso,#cbx{display:block;}
#userlist>li{margin-bottom:10px;}
#msgtx{left:40px;right:81px;}
#message{width:96%;padding:0 2% 1% 2%;}
#emot{padding:20px;}
.iam{float:right !important;text-align:left;}
.iam .txt{text-align:left;}
.left,.join{float:none;box-shadow:none;background:#0b0a0ab3;padding:3px 25px 3px;border-radius: 15px;}
.joleft{float:left;clear:both;width:100%;text-align:center;}
.chattext .mbox{max-width:85%;}
#rcol{left:0;right:0;bottom:40px;background:#0b0a0ab3;}
#rcol h3{border:none;}
.pls{background:url('plus.png');}
.mns{background:url('minus.png');}
#mmr{position:fixed;z-index:3;left:0;bottom:0;padding:20px;cursor:pointer;display: inline-block;background-repeat: no-repeat;background-position:8px 8px;background-size:24px 24px;}
}
@media only screen and (min-width: 679px) {
#chatcon{left:22%;right:22%;}
#msgtx{left:22%;right:calc(22% + 124px);}
.iam{float:right !important;text-align:left;}
.iam .txt{text-align:left;}
.left,.join{float:none;box-shadow:none;background:#0b0a0ab3;padding:3px 25px 3px;border-radius: 15px;}
.joleft{float:left;clear:both;width:100%;text-align:center;}
.chattext .mbox{max-width:85%;}

}